apiVersion: v1
kind: Service
metadata:
  name: jaeger
spec:
  ports:
    - port: 16686
      name: ui
      protocol: TCP
      targetPort: 16686
    - port: 14268
      name: thrift
      protocol: TCP
      targetPort: 14268
    - port: 14250
      name: grpc
      protocol: TCP
      targetPort: 14250
    - port: 4317
      name: grpc-receiver
      protocol: TCP
      targetPort: 4317
  selector:
    name: jaeger
  type: ClusterIP